/*
* Estructuras CCS V.0.1
* Copyright 2018, Tv Azteca
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 30/11/12
*/


/* CONTENT
––––––––––––––––––––––––––––––––––––––––––––––––––
- FONTS
- CLASES GLOBALES
- LOADER
- HTML DEFAULTS
- MARGINS
- ICONOS
- TYPOGRAPHY
- COLORS
- BODY
- BUTTONS
- FORMS
- CODE
- TABLE
- OTHERS (UTILIDADES)
- MEDIA QUERIES
- MODAL

- ANIMACIONES

*/


/* ==========================================================================
   FONTS
   ========================================================================== */

@import "normalize.css";
@import "font-roboto.css";
@import "fontawesome.css";
@import "all.css";

/* ==========================================================================
   CLASES GLOBALES
   ========================================================================== */

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

a {
    color: #2f1663;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    border-color: transparent;
}


/* ==========================================================================
   HTML defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #ffd600;
    color: #000000;
    text-shadow: none;
}

::selection {
    background: #ffd600;
    color: #000000;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #33c3f0;
    ;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(165, 155, 186, 0.8);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.objs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

*[type=disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}


/* ==========================================================================
   MARGENES
   ========================================================================== */

.m-up-5 {
    margin-top: 5px !important;
}

.m-up-10 {
    margin-top: 10px !important;
}

.m-up-15 {
    margin-top: 15px !important;
}

.m-up-20 {
    margin-top: 20px !important;
}

.m-up-30 {
    margin-top: 30px !important;
}

.m-up-40 {
    margin-top: 40px !important;
}

.m-up-50 {
    margin-top: 50px !important;
}

.m-up-60 {
    margin-top: 60px !important;
}

.m-down-5 {
    margin-bottom: 5px !important;
}

.m-down-10 {
    margin-bottom: 10px !important;
}

.m-down-15 {
    margin-bottom: 15px !important;
}

.m-down-20 {
    margin-bottom: 20px !important;
}


/* ==========================================================================
   ICONOS
   ========================================================================== */

.isotipo {
    background: url(./imgs/logo/logo_estructuras.svg);
    background-repeat: no-repeat;
}

.github {
    background: url(./imgs/logo/logo_github.svg);
    background-repeat: no-repeat;
}


/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
}

h1 {
    font-size: 4rem !important;
    line-height: 1;
}

h2 {
    font-size: 3.5rem;
    line-height: 1;
}

h3 {
    font-size: 2.5rem;
    line-height: 1.3;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.35;
}

h5 {
    font-size: 1rem;
    line-height: 1.5;
}

h6 {
    font-size: 0.8rem;
    line-height: 1.6;
}


/* Larger than phablet */

@media (min-width: 550px) {
    h1 {
        font-size: 3.2rem !important;
        line-height: 1;
    }
    h2 {
        font-size: 2.6rem !important;
        line-height: 1;
    }
    h3 {
        font-size: 1.9rem !important;
        line-height: 1.3;
    }
    h4 {
        font-size: 1.5rem !important;
        line-height: 1.35;
    }
    h5 {
        font-size: 1rem !important;
        line-height: 1.5;
    }
    h6 {
        font-size: 0.9rem !important;
        line-height: 1.6;
    }
}

p {
    margin-top: 0;
}


/* ==========================================================================
   BODY
   ========================================================================== */

body {
    font-family: 'roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f3f3f4;
    color: #5a5a5a;
    font-size: 12px;
}

.box {
    min-height: 15px;
    margin-left: 20px !important;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15px;
    position: relative;
    background-color: #f5f5f5;
    padding: 15px;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol,
ul {
    padding-left: 10px
}

ul ul,
ul ol,
ol ol,
ol ul {
    font-size: 90%;
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: white !important;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


/* Mobile */

@media (min-width: 400px) {}


/* Table*/

@media (min-width: 550px) {}


/* Tableta x2*/

@media (min-width: 750px) {}


/* Escritorio */

@media (min-width: 1000px) {}


/* Escritorio HD */

@media (min-width: 1200px) {}

.objs-elems {
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.objs-elems div {
    text-align: center;
    display: block;
    width: 100%;
}

input,
input[type="normal"],
input[type="password"],
md-autocomplete input:not(.md-input) {
    display: block !important;
    padding: 8px 5px 2px 6px !important;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none;
    border: none;
    /*border-bottom: 2px solid #dadada;*/
    border-radius: 1px;
    outline: none !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.objs-ins button {
    /* text-align: center; */
    margin: 0 auto;
}

.objs-ins label:nth-child(1) {
    font-size: 10px;
    color: #909090;
    text-transform: uppercase;
    display: block;
}

.objs-ins strong {
    display: block;
    font-size: 13px;
}

.objs-ins input[data-value*="default"],
.objs-ins select,
.objs-ins md-autocomplete,
td input[data-value*="default"] {
    width: 93% !important;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    text-align-last: center;
}

.objs-ins select:focus,
input[data-value*="default"]:focus,
input[data-value*="default"]:focus,
td input[data-value*="default"]:focus,
input[type="normal"]:focus,
input[type="password"]:focus,
textarea:focus,
.objs-ins select:hover,
.objs-ins md-datepicker .md-datepicker-input-container .md-datepicker-input:focus,
.objs-ins md-datepicker .md-datepicker-input-container .md-datepicker-input:hover {
    background: rgba(96, 125, 139, 0.08) !important;
    border-bottom: 2px solid #33c3f0 !important;
    color: black !important;
    box-shadow: 0px -1px 3px 0px #03a9f442 !important;
}

input[type="checkbox"],
input[type="radio"],
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    box-sizing: border-box;
    padding: 0;
    height: 15px !important;
    margin-top: 6px !important;
    box-shadow: none !important;
}

.msg-bitacora {
    width: 100%;
}

.msg-bitacora .objs-elems div {
    padding-bottom: 6px;
}

.msg-bitacora .tabla-box thead tr th:nth-child(1),
.msg-bitacora .tabla-box thead tr th:last-child {
    background: #03A9F4 !important;
    color: aliceblue !important;
    border-bottom: 1px solid #03A9F4 !important;
    border-right: 1px solid #03A9F4 !important;
    padding: 2px;
}

.msg-bitacora .tabla-box td {
    border: 1px solid #e2e2e2;
    padding: 2px;
    background-color: #e2e2e2;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.bord {
    border-bottom: 2px solid #8971d5 !important;
}

.bord:hover {
    border-bottom: 2px solid #653b9d !important;
}

select {
    outline: none;
    border: none;
    padding: 5px;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;
    min-width: 60px;
    font-size: 11px !important;
    display: block;
    color: #4e4e4e;
    background-color: #f9f9f9;
    text-align: center;
    text-align-last: center;
}


/*///////////////////////////////////

    BOTONES

///////////////////////////////////*/

button {
    display: block;
    outline: none;
    border: none;
    background-color: #a0a0a0;
    padding: 5px;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;
    min-width: 60px;
    color: #FFF;
    font-size: 12px;
}

button:hover {
    background-color: #6f4fb4;
}

button a {
    color: #FFF;
}

.btn-n {
    background-color: #4C24A2;
    padding: 9px;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;
    width: 140px;
    color: #FFF;
    font-family: 'muller_regular';
    font-size: 15px;
    margin-left: 35px;
}

.back_icon {
    position: absolute;
    background: #ffd600;
    margin-left: -30px !important;
    width: 25px !important;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    top: 0;
}

.back_icon span {
    vertical-align: middle;
    font-size: 12px;
    color: #6f4fb4;
    display: block;
    padding-top: 7px;
}

.btn-n:hover {
    background-color: #6f4fb4;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 80%;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #fff;
    border: 1px solid #aab2bd;
    color: #939393;
}

.btn-n .caret {
    margin-top: -5px;
}

.btn-n:hover .caret {
    margin-top: 0px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    vertical-align: middle;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.btn-group-vertical>.btn-n,
.btn-group>.btn-n {
    position: relative;
}


/* Verde */

.success {
    background-color: #4CAF50 !important;
    color: white;
}

.success:hover {
    background-color: #46a049 !important;
    color: white;
}


/* Azul */

.info {
    background-color: #2196F3 !important;
    color: white;
}

.info:hover {
    background: #0b7dda !important;
    color: white;
}


/* Anaranjado */

.warning {
    background-color: #ff9800 !important;
    color: white;
}

.warning:hover {
    background: #e68a00 !important;
    color: white;
}


/* Peligro */

.danger {
    background-color: #f44336 !important;
    color: white;
}

.danger:hover {
    background: #da190b !important;
    color: white;
}


/*///////////////////////////////////

        MODAL

///////////////////////////////////*/

#modal-load {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bkg-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-apps {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 50;
}

.bkg-submenu {
    display: none;
    position: fixed;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 199;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bkg-options {
    display: none;
    position: fixed;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 199;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-color {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    width: 120px !important;
    height: 60px!important;
    position: relative;
    margin: 2px;
    display: inline-block;
}

.box-color div {
    background-color: #dadada;
    width: 95% !important;
    margin: auto;
    text-align: center!important;
    bottom: 0;
    position: absolute;
    padding: 3px;
    font-size: 12px;
}


/* ==========================================================================
   COLORES
   ========================================================================== */

.bkg-r {
    background-color: #E84B5B !important;
}

.bkg-red {
    background-color: #D62739 !important;
}

.red {
    color: #D62739 !important;
}

.bkg-o {
    background-color: #FC6E51 !important;
}

.bkg-orange {
    background-color: #DB391E !important;
}

.bkg-am {
    background-color: #FFDA7C !important;
}

.bkg-amarillo {
    background-color: #FFC136 !important;
}

.bkg-v {
    background-color: #48CFAD !important;
}

.bkg-verde {
    background-color: #19A784 !important;
}

.bkg-az {
    background-color: #4FC1E9 !important;
}

.bkg-azul {
    background-color: #0B9BD0 !important;
}

.bkg-m {
    background-color: #8E7CD1 !important;
}

.bkg-morado {
    background-color: #805ce0 !important;
}


/*///////////////////////////////////

    DROPDOWN

///////////////////////////////////*/

.open>.dropdown-menu {
    display: block;
}

.btn-group {
    width: 140px;
    display: inline-block;
}

.dropdown-menu {
    background-color: #434a54;
    border: none;
}

.dropdown-menu.selected {
    display: block;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu li {
    padding: 5px 3px 3px 7px;
    font-size: 13px;
}

.dropdown-menu li:hover {
    background-color: rgba(76, 36, 162, 0.12);
}

.dropdown-menu .divider {
    background-color: #656d78;
    border-bottom: none;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}


/*///////////////////////////////////

    POPOVER

///////////////////////////////////*/

div.pop-up {
    /*display: none;*/
    position: absolute;
    padding: 5px;
    background: #eeeeee;
    color: #676767;
    border: 1px solid #dcdcdc;
    font-size: 11px!important;
    z-index: 2000;
    margin: 2%;
    -webkit-box-shadow: -2px 4px 7px 0px rgba(50, 50, 50, 0.31);
    -moz-box-shadow: -2px 4px 7px 0px rgba(50, 50, 50, 0.31);
    box-shadow: -2px 4px 7px 0px rgba(50, 50, 50, 0.31);
}

.popover {
    position: fixed;
    z-index: 1060;
    max-width: 276px;
    padding: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popcenter {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30%;
    bottom: auto;
}

.popover#arriba {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -20%;
    opacity: 0;
}

.popover#abajo {
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -20%;
}

.popover#izquierda {
    left: -30%;
    top: 30%;
}

.popover#derecha {
    right: -30%;
    top: 30%;
}

.popover .btn-close {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.popover .btn-close:hover {
    opacity: 0.7;
}

.popover-title {
    padding-bottom: 0;
    font-weight: 700;
    color: #FFF;
    background-color: transparent;
    border-bottom: none;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px !important;
    background-color: #03A9F4;
}

.popover.right .arrow,
.popover.right .arrow:after {
    border-right-color: #03A9F4;
}

.popover.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #03A9F4;
    border-right-color: rgba(8, 8, 8, 0.25);
    border-left-width: 0;
}

.popover>.arrow {
    border-width: 11px;
}

.popover-content {
    padding: 9px 14px;
}

.popover>.arrow,
.popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.form-inpt,
.stepper input {
    display: block;
    width: inherit;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-buscar button,
.form-success span,
.form-warning span,
.form-error span {
    float: right;
    margin-top: -33px;
    font-size: 16px;
    width: 32px;
    height: 32px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}

.form-success input {
    border-bottom: 2px solid #4CAF50;
}

.form-success span {
    background-color: #4CAF50;
    color: white;
}

.form-warning input {
    border-bottom: 2px solid #ff9800;
}

.form-warning span {
    background-color: #ff9800;
    color: white;
}

.form-error input {
    border-bottom: 2px solid #f44336;
}

.form-error span {
    background-color: #f44336;
    color: white;
}


/*///////////////////////////////////

    CKECKBOXES

///////////////////////////////////*/

.icheckbox_flat.disabled {
    cursor: default;
    background-position: -44px 0;
}

input[type=checkbox] {
    display: none !important;
}

input[type=checkbox]+label:before {
    font-family: Font-Awesome;
    display: inline-block;
}

input[type=checkbox]+label:before {
    content: "\f14a";
    color: rgb(80, 80, 80);
    font-size: 18px !important;
    cursor: pointer;
}

input[type=checkbox]+label:before {
    letter-spacing: 10px;
}

input[type=checkbox]:checked+label:before {
    content: "\f0c8";
}

input[type=checkbox]:checked+label:before {
    letter-spacing: 13px;
}

input[type=checkbox]:disabled+label:before {
    cursor: default;
    color: gray;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: inherit;
}

input[type="radio"] {
    display: none !important;
}

input[type="radio"]+label {
    color: #888;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
}

input[type="radio"]:checked+label span {
    background-size: 19px 19px;
    background-repeat: no-repeat;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAACXBIWXMAAAsSAAALEgHS3X78AAABr0lEQVQ4y6WUMUsjQRiGn12DiacSEhRSqUhE4fjONNekyWqjeMWlsLTIT8pPkKsPJLXN3lWe1ZIFiRCOCCJIIHELSSJqrpnI7Oyg8XzLb2ae/Wbfb15nPB5jKgzDKlADPCCrLUWAD9RFxDfPOTosDMMSUAcqvK1fQE1EOgmYAvlGJ28pAjwRCV5g/wnSgSUR6aRUoW4D3d4MaIVdot6ApcIin7eXyOZnzW1Z4BjwnGazWQVOzB0/f1wQnF0z7I9eaplcmvLuOgeHRVuHOynlWgJ0fvqX58e408P+CL/RArABa66yP3a14Ow6AZro+XHMn98dot6DueS55r9qhd3Y1Wy67w5oX/bN8qqbsKY3mMrC0fApUUvAsvm5qWDpzIwVFumF0tcCmVz6VdBC4RPFzZxZvnLVsGqdzVLeXcdNOVaQm3LY2d+wzZvvqoGN6eCwiPd9i/nluURH346+UNlbsX2nPnlOvu1xR70H2pd9RsMn0pkZips5W0cADRGpTmBrQPCBt7kmIncugIoRzzTjHalxFxsNFSMllVPTqKE6CqzhqIWkpyXtqm6/lrSBee4fMQqkzp6q9JgAAAAASUVORK5CYII=);
}

input[type="radio"]:checked:disabled+label span {
    background-size: 19px 19px;
    background-repeat: no-repeat;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAACXBIWXMAAAsSAAALEgHS3X78AAABmUlEQVQ4y52UW47aMBSGP5smEIHgaRSkmQ7tAiyxg2Z2wBJYEkvoDip2kNkBIhuYjubSiqhcREUgQ9wXQ4NjDbTn8fj487HP719orbEjSZIBMAQioFNaWgIxMFJKxfY+UYYlSdIHRsAXzsc9MFRKPVRgBhRbnZyLJRAppSZH2H+CysC+UupBmsTIBSr2b2x+r1nMf7HNNuhi74J1gK8AYjqdDoBvdsViPidNU7Jdfsw1fI9uGNJqt13QO2mmVgG9vP44AQFku5zHp2fWq5ULNpRm/CdXS9OUwiEZgEJrfs5mritH0n6rbZZVOrJjk23J80pNT9qZ7W530QhdYq/A6r5/EUwI4YQty4lGENDwvXdBzSDA8yo136UR698TZY1uGCIdJwNIIeiGVwhZs5diaQR7Eq12m9uba4JGvdLR595HgmbLdc7o8J1i1+fWxZ48z9FaI4TA8zxXRwBjpdTgw0FwwMSWiZA1/Hrtkr85PE7T2EhkD+MfXGNxIg1jI33jU5fEGPh0sJ+KOZZMMio5ba88/pLTTux9fwBIgaTxpMPDdgAAAABJRU5ErkJggg==);
}


/*///////////////////////////////////

  TOGGLE

///////////////////////////////////*/

.toggle .handle {
    position: relative;
    left: 0;
    display: block;
    width: 30px;
    height: 15px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 0 1px #b8bfc8;
    -moz-box-shadow: inset 0 0 0 1px #b8bfc8;
    box-shadow: inset 0 0 0 1px #b8bfc8;
    font-family: 'Font-Awesome';
    overflow: hidden;
    -webkit-box-shadow: inset -2px 2px 11px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset -2px 2px 11px 0px rgba(0, 0, 0, 0.35);
    box-shadow: inset -2px 2px 11px 0px rgba(0, 0, 0, 0.35);
}

.toggle .handle:hover {
    opacity: 0.7;
}

.toggle .handle:after,
.toggle .handle:before {
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    font-family: 'Font-Awesome';
    content: "\f111";
    color: transparent;
    background-color: #a9a9a9;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border: none;
}

.toggle input[type=checkbox]:checked+.handle:before,
.toggle input[type=radio]:checked+.handle:before {
    background-color: transparent;
    color: transparent;
}

.toggle input[type=checkbox]:checked+.handle:after,
.toggle input[type=radio]:checked+.handle:after {
    left: 15px;
    content: "\f111";
    padding: 2px 3px;
    color: #009688;
    background-color: #4CAF50;
    font-size: 8px;
}


/*///////////////////////////////////

  ALERTAS

///////////////////////////////////*/

.alerta {
    padding: 20px 15px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    width: 30vw !important;
}

.btn-close {
    right: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 2px;
    position: absolute;
    top: 0px;
}

.btn-close:hover {
    opacity: 0.6;
}


/*///////////////////////////////////

  TABLAS

///////////////////////////////////*/

.tabla-box {
    table-layout: fixed;
    position: inherit;
    margin: auto;
    width: -webkit-fill-available;
    margin-top: 15px;
    margin-bottom: 5px;
    overflow: hidden;
}

.tabla-box thead th {
    background-color: #2196F3;
    color: white;
    border-bottom: 1px solid #4C24A2;
    padding: 3px 0px;
    font-weight: normal;
    font-size: 11px;
    border-right: 2px solid #0068bb;
    border-left: 2px solid #0068bb;
    border-bottom: 4px solid #047fd6;
    white-space: nowrap;
    width: 50px !important;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 10px;
    text-align: center;
}

.tbl-content {
    height: 427px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 1775px;
}

.tbl-content .tabla-box {
    margin-top: 0px;
}


/*.tabla-box thead th:nth-child(1) {
    width: 150px;
    text-align: left;
    padding-left: 10px;
}

.tabla-box tbody td:nth-child(1) {
    width: 150px;
    text-align: left;
}*/

.tbl-content .tabla-box tbody td {
    border: 2px dashed #dcdcdc;
    padding: 2px;
    background-color: whitesmoke;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 45px;
}

.tabla-box tfoot td,
.tb-ftr-total {
    border: 1px solid #eaeaea;
    background-color: #f4433633;
    padding: 1px;
    border-top: 2px solid #b3b3b3;
    font-size: 10px;
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
}

.table-fixed {
    width: 1768px;
}

.tabla-box tbody {
    overflow: auto;
    height: 100px;
}

.tabla-box thead tr th:nth-child(1),
.tabla-box thead tr th:last-child {
    background-color: #434a54 !important;
    width: 155px !important;
    overflow: hidden;
    padding-left: 6px;
    text-align: center;
}

.tabla-box #programas-foot td:nth-child(1),
.tabla-box #programas-foot td:last-child {
    width: 165px !important;
    overflow: hidden;
    text-align: center;
    border: 2px solid #eaeaea;
}

.tbl-header,
.tbl-footer {
    width: 1768px;
}

.tbl-bloqueo thead tr th:nth-child(1) {
    width: 40px !important;
}

.tbl-bloqueo {
    text-align: center;
}

.tb-ftr .tb-ftr-total {
    width: 565px !important;
}

.tb-ftr .tb-ftr-total table {
    width: -webkit-fill-available;
}

.tb-ftr .tb-ftr-total table td {
    background-color: inherit;
    border: 0px solid transparent;
    border-top: 0px solid transparent;
}

.tbl-content .tabla-box tbody td:nth-child(1),
.tbl-content .tabla-box tbody td:last-child {
    width: 145px !important;
    overflow: hidden;
    padding-left: 6px;
    text-align: center;
}


/*.tbl-hddn td,
#programas-txt th,
#programas-foot td {
    visibility: hidden;
}*/


/*///////////////////////////////////

    TOOLTIP

///////////////////////////////////*/

.hasTooltip span {
    display: none;
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.hasTooltip:hover span {
    display: block;
    position: absolute;
    background-color: rgba(12, 2, 2, 0.9);
    border: 1px solid rgba(12, 2, 2, 0.7);
    margin: auto;
    border-radius: 6px;
    text-align: center;
}


/*///////////////////////////////////

    THUMBNAIL

///////////////////////////////////*/

.thumb {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.thumb {
    overflow: hidden;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 1px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    max-width: 80%;
}

.thumb h5 {
    margin-top: 15px;
}

.thumb img {
    width: 100%;
}

.alinea-derecha {
    text-align: right;
    padding-right: 15px;
}