html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ececec;
    font-family: 'Roboto', sans-serif;
    animation: all 2s ease;
}

.link-init {
    margin: 0.2em;
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    padding: 2px 3px;
    width: 147px;
    height: 170px;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    animation: all 0.2s ease-in-out;
    background: #E0EAFC;
    background-image: linear-gradient(112deg, #f5f7fa 0%, #c3cfe2 100%);
    cursor: pointer;
    color: #03A9F4;
    -webkit-box-shadow: 3px 6px 5px -1px rgba(171, 171, 171, 0.6);
    -moz-box-shadow: 3px 6px 5px -1px rgba(171, 171, 171, 0.6);
    box-shadow: 3px 6px 5px -1px rgba(171, 171, 171, 0.6);
}

.link-init:hover {
    opacity: 0.6;
}

.link-content {
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-size: 16px;
    color: #03A9F4;
}

.link-init span {
    font-size: 2.3em;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
    color: #03A9F4;
}

.link-init span i {
    background: linear-gradient(60deg, #2196F3 0%, #6b77bd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-init {
    background: rgba(79, 192, 233, 1);
    background: -moz-linear-gradient(top, rgba(79, 192, 233, 1) 0%, rgba(79, 192, 233, 1) 26%, rgba(11, 155, 208, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79, 192, 233, 1)), color-stop(26%, rgba(79, 192, 233, 1)), color-stop(100%, rgba(11, 155, 208, 1)));
    background: -webkit-linear-gradient(top, rgba(79, 192, 233, 1) 0%, rgba(79, 192, 233, 1) 26%, rgba(11, 155, 208, 1) 100%);
    background: -o-linear-gradient(top, rgba(79, 192, 233, 1) 0%, rgba(79, 192, 233, 1) 26%, rgba(11, 155, 208, 1) 100%);
    background: -ms-linear-gradient(top, rgba(79, 192, 233, 1) 0%, rgba(79, 192, 233, 1) 26%, rgba(11, 155, 208, 1) 100%);
    background: linear-gradient(to bottom, rgba(79, 192, 233, 1) 0%, rgba(79, 192, 233, 1) 26%, rgba(11, 155, 208, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4fc0e9', endColorstr='#0b9bd0', GradientType=0);
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
}

.footer-iso {
    display: -webkit-inline-box !important;
    bottom: 0;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.footer-logo {
    width: 37px;
}

.footer-text {
    color: white;
    vertical-align: middle;
    line-height: 24px;
    font-size: 18px;
    margin-left: 5px;
}

.p-i-header {
    width: 100%;
    height: 50px;
    background-color: #0B9BD0;
    position: fixed;
    top: 0;
    z-index: 10;
    -webkit-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.21);
}

.p-i-bar,
.p-g-bar,
.p-i-not {
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;
    width: 10px;
}

.p-i-bar:hover span,
.p-g-bar:hover span {
    color: gray;
}

.p-i-bar span,
.p-g-bar span {
    font-size: 16px;
    color: white;
}

.p-i-logo {
    width: 40px;
}

.p-i-isotipo {
    display: -webkit-inline-box;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25px;
    left: 50%;
}

.p-i-text {
    color: white;
    font-size: 17px;
    margin-top: 1px;
    margin-left: 10px;
}

.buscador {
    top: 0;
    width: 100%;
    height: 120px;
    background-color: #f1f1f1;
    position: fixed;
    z-index: 15;
    -webkit-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.21);
    padding: 15px;
    z-index: 9;
}

.buscador-txt {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: gray;
}

.form-control {
    color: #434a54;
    border-color: #4C24A2;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: none;
    border-bottom: 2px solid;
    border-radius: 1px;
}

.row {
    clear: both;
    position: relative;
    text-align: justify;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 3px;
    padding: 0px 20px;
}

.col-2 {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    display: inline-block;
    width: 45%;
    margin-right: 15px;
    margin-bottom: 15px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    vertical-align: text-top;
}

.col-4 {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    display: inline-block;
    width: 22%;
    margin-right: 15px;
    margin-bottom: 15px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    vertical-align: text-top;
}

.css-nav-lat {
    overflow-y: auto;
    background: rgb(255, 255, 255);
    border-width: 0px 1px 0px 0px;
    border-image: initial;
    transition: opacity 0.5s ease 0s;
    border-right: 1px solid rgb(237, 231, 243);
}

@media (min-width: 1000px) {
    .css-nav {
        width: 16.8rem;
    }
    #page-main {
        padding-left: 20rem !important;
    }
}

@media (min-width: 750px) {
    .css-nav {
        height: calc((100vh - 3.5rem) - 2.5rem);
        max-width: none;
        pointer-events: auto;
        top: calc(6rem);
        width: 20rem;
        opacity: 1 !important;
    }
    #page-main {
        padding-left: 20rem !important;
    }
}

.panel {
    width: 40vh;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: whitesmoke;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.45);
    padding: 15px;
    z-index: 500;
}

.panel-der {
    width: 80vh;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: whitesmoke;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.45);
    padding: 15px;
    z-index: 500;
}

.modal-all {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 400;
}

.modal-30 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 9;
}

.modal-20 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 20;
}

.css-nav {
    bottom: 0px;
    display: block;
    height: 100vh;
    position: fixed;
    top: 44px;
    width: 280px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease 0s;
    background: rgb(255, 255, 255);
}

.lat-list {
    list-style: none;
    padding: 0px;
    transition: all 0.3s ease 0s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lat-list li {
    padding: 5px 10px 5px 25px;
    border-bottom: 0.1em solid rgba(220, 220, 220, 0.8);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}

.flag {
    float: right;
    transform: rotate(-90deg);
}

.m-100 {
    margin-top: 100px;
}

.close-panel,
.close-panel-der,
.close-admin,
.close-usr-lat {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 15px;
    cursor: pointer;
}

.close-panel.btn-adm {
    position: absolute;
    left: 40%;
    width: 20%;
    bottom: 10px;
    top: auto;
    font-size: 15px;
    cursor: pointer;
    background-color: #D62739 !important;
}

.text-center {
    text-align: center;
    margin-top: 15px;
}

.lat-list li:hover {
    background-color: rgba(51, 195, 240, 0.36);
}

.lat-list li:active .flag {
    float: right;
    transform: rotate(0deg);
    transition: all 0.3s ease 0s;
}

.activated {
    height: 9px;
    width: 30px;
    background-color: #33c3f0;
    opacity: 0;
    float: left;
    vertical-align: middle !important;
    margin-left: -40px;
    margin-top: 2px;
}

.lat-list li:active .activated {
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.lat-list li:active .lat-list-sec {
    display: block;
}

#panel-herramientas {
    position: fixed;
    right: -7px;
    z-index: 51;
    list-style: none;
    top: 0;
}

#panel-herramientas ul {
    list-style: none;
}

#panel-herramientas-bloqueo,
#panel-herramientas-bloqueo-2 {
    position: fixed;
    right: -7px;
    z-index: 51;
    list-style: none;
    display: none;
    top: 0;
}

.tool-box,
.tool-box-bloq,
.tool-box-bloq-2 {
    margin-right: 20px;
}

.tool-box ul,
.tool-box-bloq ul,
.tool-box-bloq-2 ul {
    list-style: none;
    display: contents;
}

.tool-box ul li,
.tool-box-bloq ul li,
.tool-box-bloq-2 ul li {
    color: #004466;
    padding: 14px 11px;
    cursor: pointer;
    font-size: 15px;
    display: -webkit-inline-box;
    border-radius: 2px;
    transition: all 0.2s ease-in;
}

.tool-box ul li:hover,
.tool-box-bloq ul li:hover,
.tool-box-bloq-2 ul li:hover {
    background-color: rgb(255, 255, 255, 0.5);
    opacity: 1;
}

.tool-box {
    margin-right: 20px;
}

.tool-box ul {
    list-style: none;
    display: contents;
}

.tool-box ul li {
    color: #004466;
    padding: 14px 11px;
    cursor: pointer;
    font-size: 15px;
    display: -webkit-inline-box;
    border-radius: 2px;
    transition: all 0.2s ease-in;
}

.tool-box ul li:hover {
    background-color: rgb(255, 255, 255, 0.5);
    opacity: 1;
}


/*///////////////////////////////////

        LOADER

///////////////////////////////////*/

.overloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 15px 5px 5px 5px;
}

.txt_load {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.sk-cube-grid {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #FFF;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale 3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

#es-general,
#es-bloqueo,
#es-ine,
#es-bloqueo,
#es-individual {
    display: none;
    margin: 65px 30px 15px 30px;
}

#es-ine {
    max-width: 1000px;
    margin: 65px auto;
    text-align: center;
}

#es-ine .tabla-box thead tr th:nth-child(1),
#es-ine .tabla-box thead tr th:last-child {
    width: 45px !important
}

.tit-tut {
    margin-top: 5px;
    margin-bottom: 25px;
}

.urgente {
    position: relative !important;
    float: right !important;
    margin-right: 26px !important;
}

#main-contenedor {
    margin: 9% 6%;
    text-align: center;
    background: none;
}


/*  LOGIN   */

#p-login {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.form {
    width: 300px;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0 4px 36px #ccc;
    letter-spacing: 1px;
    cursor: pointer;
}

.iso-form {
    width: 120px;
    height: 100px;
    margin-bottom: 40px;
    margin: 0 auto;
}

.isotipo {
    background: url(/imgs/logo/logo_estructuras.svg);
    background-repeat: no-repeat;
}

.form_button {
    width: 100%;
    margin-top: 35px;
}

.make-table label {
    background: #03A9F4;
    color: aliceblue !important;
}

.make-table {
    background: #e2e2e2;
    margin-top: 3px !important;
    margin-bottom: 5px !important;
}

.make-table div {
    font-weight: bold;
}

.make-table .objs-ins div {
    padding-bottom: 3px;
}

.p-middle {
    max-height: 70%;
    max-width: 70%;
    background-color: #f1f1f1;
    position: fixed !important;
    top: 25px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 100;
    padding: 10px;
    overflow: hidden;
    -webkit-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.42);
    box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.42);
}

.p-middle h4 {
    text-align: center;
    text-transform: uppercase;
}

.content {
    max-height: 450px;
}

.content h5 {
    text-align: center;
    text-transform: uppercase;
}

.tit-objs {
    border: 1px solid #00BCD4;
    background-color: #03A9F4;
    color: white;
}

.tit-objs>div {
    border-right: 1px solid #2196F3;
}

.bt-user {
    position: fixed;
    right: 0px;
    top: 15px;
    font-size: 25px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: 7px 15px 7px 8px;
    cursor: pointer;
}

.bt-user:hover {
    position: fixed;
    right: 0px;
    top: 15px;
    font-size: 25px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 7px 15px 7px 8px;
}

.user-menu {
    width: 45vh;
    height: 100%;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    position: fixed;
    z-index: 1999;
    top: 0;
    right: -3000;
    opacity: 0;
}

.user-img {
    font-size: 85px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: 10%;
    color: #2196F3;
}

.user-txt {
    font-size: 18px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: 10%;
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
}

.user-menu .user-line {
    border-bottom: 2px solid #2196F3;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
}

.user-btn {
    margin: 0 auto;
    width: 80%;
    bottom: 10%;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-box-shadow: -1px 4px 4px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: -1px 4px 4px 0px rgba(0, 0, 0, 0.65);
    box-shadow: -1px 4px 4px 0px rgba(0, 0, 0, 0.65);
}

.content .head-tab {
    background: #03A9F4;
    color: white;
}

.head-tab div {
    text-transform: uppercase;
}

#panel-admin {
    display: none;
}

.panel-heros {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.cont-result {
    overflow-y: auto;
    max-height: 19vw;
}

.s-circle {
    width: 15px !important;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 5px;
}

.s-status {
    width: 23%!important;
}

.btn-add-usr {
    background-color: #03A9F4;
    font-size: 16px;
    padding: 4px 6px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: white;
    display: -webkit-inline-box;
    text-align: center;
    margin-bottom: 15px;
}

.min-tool-box {
    min-height: 130px;
    max-height: 70%;
    max-width: 25%;
    background-color: #f1f1f1;
    position: fixed !important;
    top: 25px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 100;
    padding: 10px;
    -webkit-box-shadow: -4px 4px 5px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: -4px 4px 5px -1px rgba(0, 0, 0, 0.39);
    box-shadow: -4px 4px 5px -1px rgba(0, 0, 0, 0.39);
    text-align: center;
}

.line-ops {
    width: 98%;
    margin: 0 auto;
    display: flex;
    margin-top: 5px;
}

.line-ops div:nth-child(1) {
    width: 80%;
    text-align: left;
}

.line-ops div:nth-child(2) {
    width: 20%;
}

#panel-mensajes,
#panel-elim-usuario {
    z-index: 105 !important;
}

.l-panel {
    width: 320px;
    height: auto;
    min-height: 100%;
    position: absolute;
    left: 0px;
    background-color: whitesmoke;
    z-index: 550;
    top: 0;
    background-color: whitesmoke;
    -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: -3px 2px 5px 0px rgba(0, 0, 0, 0.45);
    padding: 15px;
}

#usr-lineas.l-panel {
    width: 450px !important;
}

#usr-lineas .objs-ins {
    display: inline-block;
    margin-top: 25px;
    width: 39%;
    text-align: center;
}

.objs-ins.ck {
    width: 20% !important;
}

.usr-title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 20px;
}

.fila {
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    width: 100%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.fila div {
    text-align: center;
    display: block;
    width: 100%;
}

.fila:hover {
    border-bottom: 1px solid darkgray;
}

#panel-add-plantilla {
    z-index: 600;
}

.f-right {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-estructura {
    display: none;
    position: fixed;
    z-index: 12;
    top: 3px;
    left: 65px;
    width: 310px;
}